@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,700,700italic);

* {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: #333;
}

core-header-panel {
    display: block;
    width: 100%;
    height: 125px;
}

core-toolbar {
    padding-top: 20px;
}
